#contenedor{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    align-items: center;
    text-align: center;
    justify-content: center;
}

img{
    height: 50vh;
}
