@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:rgba(186, 75, 38, 1);
    --secundary-color:#003d5c;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    left: 0;
    background-color:  var(--primary-color);
    /*background: url('../imagenes/Programacion.jpg');
    background-size: cover;*/
    color:#ffffff;
}


/* Estilo para el botón del menú */
.menu-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
   /* background-color: #51279B;*/
    color: white;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

/* Ocultar el checkbox, pero es clave para activar el menú */
.menu-toggle {
    display: none;
}

/* Estilos del menú off-canvas */
.offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transform: translateX(-100%); /* Fuera de la pantalla */
    transition: transform 0.3s ease;
}

.offcanvas-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.offcanvas-menu ul li {
    margin: 20px 0;
}

.offcanvas-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Cuando el checkbox está marcado, mover el menú hacia la pantalla */
.menu-toggle:checked ~ .offcanvas-menu {
    transform: translateX(0);
}

/* Contenido principal */
.content {
    padding: 20px;
}

.content h1 {
    font-size: 36px;
    color: #51279B;
}

.content p {
    font-size: 18px;
}

/*
header {
   
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
}

nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    background-color: var(--secundary-color);
    border-radius: 8px;
  
}

nav ul li {
    display: inline; 
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-small);
}


 
 .text-overlay {
    
    color: white; 
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
    justify-content:start;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}


 h1 {
    font-size: 3em;
    font-weight: bold;
}

body::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    z-index: -1;
}

a{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}*/